.Form {
  display: flex;
  flex-direction: column;
  width: 400px;
  gap: 20px 0;
  padding: 30px 40px;
  background-color: var(--color-gray-900);
  color: var(--color-gray-100);
  border-radius: 12px;
  position: relative;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.Form::after,
.Form::before {
  content: "";
  position: absolute;
  height: 102%;
  width: 102%;
  background-image: conic-gradient(from var(--angle), #ff4545, #00ff99, #006aff, #ff0095, #ff4545);
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 3px;
  border-radius: 12px;
  animation: 3s spin linear infinite;
}

.Form::before {
  filter: blur(1.5rem);
  opacity: 0.5;
}

.header {
  display: grid;
  place-content: center;

  & h2 {
    font-size: 30px;
    text-align: center;
  }

  & p {
    color: var(-color-gray-400);
  }
}

@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}
