@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("./normalize.css");
@import url("./variables.css");

body {
  font-family: Inter, sans-serif;
  line-height: 1.67;
  font-size: 12px;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-gray-100);
  background-color: var(--color-bg-main);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  display: grid;
  place-content: center;
  min-height: 100vh;
}
